
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/signin.css') }}">
    <title>Reflected Note</title>
</head>
<body>
<div class="container">
    <form action="send" method="post" name="Login_Form" class="form-signin">
        <h2 class="form-signin-heading">Send note to admin</h2>
        <label for="inputUsername" class="sr-only">Url</label>
        <input name="url" type="url" id="inputUsername" class="form-control" placeholder="url" required autofocus>
        <button name="Submit" value="Login" class="btn btn-lg btn-primary btn-block" type="submit">Send</button>

    </form>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
