<html>
    <head>
        <title>Racer</title>
       
        <style>
            
            body {
            background-image: url('https://wallpapercave.com/wp/ccOR13a.jpg');
            color:floralwhite;
            font-size: 24px;
            
        }

        </style>
    </head>
    <body>
        <br>
        <h1>&nbsp;&nbsp;Welcome younglings</h1>
        <div style="margin-left: 30px">
        <h3>The flag is my personal secret, it is not present in Wayward Planet archive, so not even google can find it 🤖 </h3>
        <h6>&nbsp;&nbsp;  Thanks to C3PO and R2D2 I was able to hide it hehe :3</h6>
        <!-- Where are those damn robots, i cant even find my own secret!  -->
        </div>
    </body>
</html>